@import './base.css';

body {
    font-family: 'Nunito', 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    text-align: justify;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    margin: 20px 0px;
}

h2 {
    font-size: 1.75em;
    font-weight: 600;
    margin: 15px 0px;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
    margin: 10px 0px;
}

ul {
    margin: 5px 0px;
}

li {
    margin-left: 20px;
}

button {
    width: 150px;
    border-radius: 30px;
    border: none;
    padding: 15px;
    background-color: #e6e350;
    color: white;
    transition: all 0.4s ease;
}

button:hover {
    background-color: #0a3334;
    cursor: pointer;
}

strong {
    font-weight: bold;
}
